/* inner.scss "inner" block  */

/* block */
.inner {
    height: auto;
    width: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 2px 2px 2px 2px;
    padding: 5px;
    margin: 5px;
}

/* block modificators */
.inner_red {
    background-color: $colorCover;
    color: $colorFont;
}

/* block elemets */
.inner__border {
    background-color: $colorMainUnderside; 
    border-radius: 2px 2px 2px 2px;
    padding: 5px;
    color: $colorFont;
}

.inner__border_orange {
    background-color: $colorMain; 
    color: $colorMainUnderside;  
}

