{# AppBundle:Security:Role:role.html.twig
==========================================
---Template to show chosen role params---#}

{% extends ':Blog/Page:nonews.html.twig' %}

{% block text %}
    <div>название: {{ role.name }}</div>
    <div>доступ: {{ role.role }}</div>
    <div>пользователи:</div>
    {% for user in role.users %}
        <div>{{ user.username }}</div>
    {% endfor %}    
{% endblock %}
