{# empty Twig template #}

<div class="sidebar">        
    <div class="sidebar__row">
        <div class="inner inner_red">
            <div class="inner__border">
                Sidebar
            </div>
        </div>
    </div>
</div>
