{# empty Twig template #}
<div>
    <h3>Вы успешно зарегестрировались!</h3>
    <p>Здравствуйте, {{ name }}! Вы успешно зарегестрировались на сайте Япрошик!</p>
    <p>Для того, чтобы войти в свой профиль, пройдите по ссылке: <a href="{{ url('login') }}">войти<br></a></p>
    <p>Спасибо!</p>
</div>
<div>
    <img src="{{ absolute_url(asset('images/logo.png')) }}">
</div>