/* user.scss "user" block */

/* block */
.user {
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  text-align: center;  
}

/* elements */
.user__row {
    min-height: 1%;
    min-width: 120px;
    width: 100%;
    margin: 5px 5px;
}

.user__avatar {
   max-width: 120px;
   max-height: 120px;
   justify-content: space-between;
   border-radius: 2px 2px 2px 2px;
}
