/* admin.scss "admin" block */

/* block */
.admin {
    
}

/* elements */
.admin__main {
    width: 70%;
    float: left;
}

.admin__side {
    width: 30%;
    float: left;
}

.admin__row {
    display: flex;
    width: 100%;
    margin: 5px 0;
}