/* account.scss "account" block */

/* block */
.account {
    
}

/* elements */
.account__row {
    display: flex;
    width: 100%;
}

.account__row:after {
    visibility: hidden;
    font-size: 0;
    clear: both;
    height: 0;
}

.account__container {
    background-color: $colorMain;
    border-radius: 2px 2px 2px 2px;
    margin: 5px;
    padding: 5px;
}
.account__avatar {
    max-height: 100px;
    max-width: 150px;
}

.account__navigation {
    justify-content: space-between;
}