{# Blogger:BlogBundle:Page:about.html.twig 
=============================================
-----------Simple about page-------------#}

{% extends ':Blog/Page:nonews.html.twig' %}
{% block text %}
    <h3>
        Здравствуйте, меня зовут Сергей "Япрошик"!
    </h3>
    <p>
        Я много путешествую по России и Японии и часто снимаю видео и фото, поэтому
        я решил поделиться своим видением мира с друзьями. Для этого я создал канал 
        на youtube "Япрошик", где я выкладываю свои видео, а также группу в 
        вконтакте.
    </p>
{% endblock %}
