{# AppBundle:Security:registration.html.twig
==============================================
------------Template to create user----------#}

{% extends ':Blog/Page:nonews.html.twig' %}

{% block content %}
    <div class="inner inner_red">
        <div class="inner__border">
            <div class="content__row">
                Введите ваши данные для регистрации на сайте!
            </div>
            <div class="content__row form inner__border inner__border_orange">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }} 
            </div>
        </div>
    </div>
{% endblock %}