/* comment.scss "comment" block */

/* block */
.comment {
    display: flex;
    flex-flow: column;
}

/* elements */
.comment__row {
    width: 100%; 
}
.comment__head {
    box-sizing: inherit;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.comment__item {
    
}

.comment__number {
    margin: 0 5px;
    width: 10%;
}

.comment__date {
    margin: 5px 0;
    font-size: 15px;
    font-style: italic;
}

.comment__description {
    
}

/* modificators */